:root {
    --clr-background: #00ff8f;
    --clr-primary-T1: hsl(184, 100%, 50%);
    --clr-primary-T2: hsl(245, 61%, 26%);
    --clr-secondary-T1: hsl(124, 100%, 50%);
    --clr-secondary-T2: hsl(168, 84%, 32%);
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 0.875;
    text-shadow: 0.75px 0.75px 1px white;
    background-color: var(--clr-background);
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(
        135deg,
        rgba(26, 39, 107, 1) 0%,
        rgba(0, 255, 128, 1) 45%,
        rgba(0, 212, 255, 1) 100%
    );
    height: 100vh;
}
.mainHeader {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrayContainer {
    height: min(75vh, 640px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
table {
    border-collapse: collapse;
    font-size: 1.5rem;
    border: 2px solid black;
}
caption {
    font-size: 2rem;
}
thead {
    border-bottom: 2px solid black;
}
th {
}
th,
td {
    margin: 10px 15px;
    padding: 20px 25px;
}
.unsortedTable th {
    background-color: var(--clr-primary-T1);
}
.unsortedTable td {
    background-color: var(--clr-secondary-T1);
    text-align: center;
}
.sortedTable {
    color: white;
    text-shadow: 1.75px 1.75px 5px black;
}
.sortedTable th {
    background-color: var(--clr-primary-T2);
}
.sortedTable td {
    background-color: var(--clr-secondary-T2);
    text-align: center;
}
